*{
    margin: 0em;
    padding: 0em;
}
.body-chat {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 10px;

  overflow: scroll;
}

.container-chat {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;

  margin: 5px 0;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.container-chat::after {
  content: "";
  clear: both;
  display: table;
}

.container-chat img {
  float: left;
  max-width: 20px;
  width: 100%;
  margin-right: 10px;
  border-radius: 50%;
 
}


.container-chat img.right {
  float: right;
  margin-left: 10px;
  margin-right:0;
  size: 50%;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}
.jumbotron{
    margin: 1em;
    text-align: center;
}

p{
    margin: 0;
}
.message-input{
    border: 2px solid #dedede;
    margin: 0 auto;
    border-radius: 5px;
    width: 720px;
    max-width: 100%;
}
.message{
    margin: 0 auto;
    width: 800px;
    padding-left:0.5em; 
    max-width: 100%;
}
#send{
    padding: 0.1em 0.7em;
    border-radius: 5px;
}

.userNameInput{
    width: 300px;
    max-width: 100%;
    margin: 0 auto;
}